api:
  dashboard: true
  debug: true
log:
  level: DEBUG
entryPoints:
  http:
    address: ":80"
  https:
    address: ":443"
serversTransport:
  insecureSkipVerify: true
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedbydefault: false
  file:
    filename: config.yml
certificatesresolvers:
  duckdns:
    acme:
      email: {{ duckdns.email }}
      storage: acme.json
      # Next line to use Let's Encrypt's staging server,
      # comment / uncomment to use staging for debuging
      # usefule to not reach the request limit
      # caServer: "https://acme-staging-v02.api.letsencrypt.org/directory"
      dnschallenge:
        provider: duckdns
        delayBeforeCheck: 0
