password: "password"
photoprism:
  password: "password"
  mysql:
    db: "photoprism"
    user: "user"
    password: "password"
    root_password: "password"
ssh_public_key: "ssh-ed25519 sshexamplekey vmuser"
email_password: "123qwe"