password: "replaceme"
cloudflare_token: "putyourtoken"
photoprism:
  db:
    name: "photoprism"
    root_password: "replaceme"
ssh_public_key: "ssh-ed25519 sshexamplekey vmuser"
email_password: "replaceme" # email app password generated
