#
# Misc
#
hostname: "{{ inventory_hostname }}"

timezone: Europe/Amsterdam

ntp_timezone: "{{ timezone }}"

locale: en_US.UTF-8

keyboard_layout: us

username: username

guid: 1001

shell: /bin/bash

ssh_port: 66

#
# SnapRAID
#
snapraid:
  email_to: "email_to@gmail.com"
  email_from: "{{ email }}"

#
# CloudFlare
#
cloudflare:
  domain: "yourdomain.com"

#
# Routing
#
routing:
  ip: "192.168.178.100"

#
# Services
#
services:
  cloudflare:
    srv_name: "cloudflare"
    domain: ""
    port_server: ""
    port_expose: ""
  portainer:
    srv_name: "portainer"
    domain: "dockmng"
    port_server: "9000"
    port_expose: "9000"
  homer:
    srv_name: "homer"
    domain: "homer"
    port_server: "8080"
    port_expose: "8585"
  jellyfin:
    srv_name: "jellyfin"
    domain: "movies"
    port_server: "8096"
    port_expose: "8096"
  filebrowser:
    srv_name: "filebrowser"
    domain: "filebrowser"
    port_server: "80"
    port_expose: "8383"
  photoprism:
    srv_name: "photoprism"
    domain: "photoprism"
    port_server: "2342"
    port_expose: "2342"
  deluge:
    srv_name: "deluge"
    domain: "deluge"
    port_server: "8112"
    port_expose: "8112"
  vaultwarden:
    srv_name: "vaultwarden"
    domain: "vltw"
    port_server: "80"
    port_expose: "8484"

#
# Docker
#
docker_network: "proxy"

docker_dir: /home/{{ username }}/docker/data

docker_compose_dir: /home/{{ username }}/docker/compose

docker_apt_gpg_key: "https://download.docker.com/linux/ubuntu/gpg"

docker_apt_repository: "deb http://download.docker.com/linux/ubuntu jammy stable"

docker_mkdir_folders:
  - "{{ docker_dir }}"
  - "{{ docker_compose_dir }}"
  - "{{ docker_dir }}/homer"
  - "{{ docker_dir }}/deluge"

#
# Packages
#
extra_packages:
  - dnf
  - vim
  - iperf3
  - speedtest-cli
  - htop
  - stow
  - exa
  - git
  - neofetch
  - tmux
  - mosh
  - rsync
  - lm-sensors
  - iotop
  - ncdu
  - snapraid
  - samba
  - samba-common

#
# Email credentials (for notifications)
#
email: yourgmailaccaunt@gmail.com

email_login: "{{ email }}"

email_smtp_host: smtp.gmail.com

email_smtp_port: 465

email_smtp_port_startls: 587

#
# MSMTP
#
msmtp_accounts:
  - account: mailbox
    host: "{{ email_smtp_host }}"
    port: "{{ email_smtp_port_startls }}"
    auth: "on"
    from: "{{ email }}"
    user: "{{ email }}"
    password: "{{ email_password }}" # secret

msmtp_default_account: "mailbox"

msmtp_alias_default: "{{ email }}"

#
# SSH (geerlingguy.security)
#
security_ssh_port: 66

security_sudoers_passwordless: ["{{ username }}"]

security_autoupdate_reboot: true

security_autoupdate_mail_to: "{{ email }}"

security_autoupdate_reboot_time: "23:00"

security_autoupdate_mail_on_error: false

#
# Disk
#
mnt_folder: "/home/{{ username }}/mnt"

disks:
  parity:
    path: "{{ mnt_folder }}/parity"
    src: "UUID=00000000-0000-0000-0000-000000000000"
    fstype: "ext4"
    opts: "defaults"
    state: "mounted"

  general:
    path: "{{ mnt_folder }}/general"
    src: "UUID=00000000-0000-0000-0000-000000000000"
    fstype: "ext4"
    opts: "defaults"
    state: "mounted"

  temporary:
    path: "{{ mnt_folder }}/temporary"
    src: "UUID=00000000-0000-0000-0000-000000000000"
    fstype: "ext4"
    opts: "defaults"
    state: "mounted"

  extras:
    path: "{{ mnt_folder }}/extras"
    src: "UUID=00000000-0000-0000-0000-000000000000"
    fstype: "ext4"
    opts: "defaults"
    state: "mounted"

mount_options:
  - "{{ disks.general }}"
  - "{{ disks.temporary }}"
  - "{{ disks.extras }}"

folders:
  # general
  docs: "{{ disks.general.path }}/docs"
  archive: "{{ disks.general.path }}/archive"
  memories: "{{ disks.general.path }}/memories"
  music: "{{ disks.general.path }}/music"
  movies: "{{ disks.general.path }}/movies"
  screenrecording: "{{ disks.general.path }}/screenrecording"

  # temporary
  downloads: "{{ disks.temporary.path }}/downloads"
  other: "{{ disks.temporary.path }}/other"
  projects: "{{ disks.temporary.path }}/projects"

mkdir_disk_folders:
  - "{{ folders.docs }}"
  - "{{ folders.archive }}"
  - "{{ folders.memories }}"
  - "{{ folders.music }}"
  - "{{ folders.movies }}"
  - "{{ folders.screenrecording }}"
  - "{{ folders.downloads }}"
  - "{{ folders.other }}"
  - "{{ folders.projects }}"
